.home {
  margin-top: var(--header-area);
  overflow: auto;
  margin-bottom: var(--footer-area);

  &--title {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &--currency {
    margin-top: 2rem;

    ion-input {
      --highlight-color-valid: var(--ion-color-primary);
    }
  }

  ion-item {
    width: 100%;
    --padding-start: 0;
    --min-height: 5rem;
    --inner-padding-end: 0;
  }

  .border-blue {
    border-bottom: 3px solid var(--ion-color-primary);
  }

  &--action {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &--result {
    margin-top: 1rem;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &--header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      span {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    &--current-value {
      display: flex;
      justify-content: center;
      height: 4rem;
      align-items: center;
      background-color: rgba(7, 176, 251, 0.2);
    }

    &--last-days {

      ion-icon {
        color: var(--ion-color-primary);
        font-size: 1.5rem;
      }

      &--items {
        padding: 0.5rem;
        background-color: var(--ion-color-light);

        ion-card {
          margin: 0.1rem;
          width: 90%;

          ion-card-content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .infos {
              display: flex;
            }

            ion-label {
              font-size: 0.7rem;
            }

            span {
              font-weight: bold;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
