<div class="home ion-padding">
  <div class="home--title">
    <h2>BRL EXCHANGE RATE</h2>
  </div>
  <form [formGroup]="exchangeRateForm" (ngSubmit)="getCurrentExchangeRate()">
    <div class="home--currency">
      <ion-input fill="solid" maxlength="3" label="Enter the currency code" labelPlacement="floating" formControlName="fromSymbol"></ion-input>
    </div>
    <ion-item>
      <div class="home--action">
        <ion-button expand="block" class="button-submit" type="submit" [disabled]="exchangeRateForm.invalid || isLoading">
          <p *ngIf="!isLoading">EXCHANGE RESULT</p>
          <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
        </ion-button>
      </div>
    </ion-item>
  </form>
  <div class="home--result" *ngIf="currentExchangeRate?.exchangeRate && !isLoading">
    <ion-item class="border-blue">
      <section>
        <div class="home--result--header">
          <section>
            <span>Exchange rate now</span>
            <p>{{currentExchangeRate?.lastUpdatedAt | date: 'dd/MM/yyyy - HH:mm:ss'}}</p>
          </section>
          <div class="home--result--header--currency">
            <h2>{{fromSymbol}}/{{toSymbol}}</h2>
          </div>
        </div>
        <div class="home--result--current-value">
          <h2>{{ currentExchangeRate?.exchangeRate | currency: 'BRL': true}}</h2>
        </div>
        <div class="home--result--last-days">
          <ion-accordion-group>
            <ion-accordion class="icon" value="first" toggleIcon="add-outline" (click)="getDailyExchangeRate()">
              <ion-item slot="header">
                <ion-label>LAST 30 DAYS</ion-label>
              </ion-item>
              <div class="home--result--last-days--items" slot="content" *ngFor="let item of filteredItems.slice(0, 29); index as i">
                <ion-card>
                  <ion-card-content>
                    <section>
                      <ion-label color="primary">{{item.date | date: 'dd/MM/yyyy'}}</ion-label>
                    </section>
                    <div class="infos">
                      <section>
                        <ion-label>OPEN: <span>{{item.open | currency: 'BRL': true: '1.2-4'}}</span></ion-label>
                        <ion-label>HIGH: <span>{{item.high | currency: 'BRL': true: '1.2-4'}}</span></ion-label>
                      </section>
                      <section>
                        <ion-label>CLOSE: <span>{{item.close | currency: 'BRL': true: '1.2-4'}}</span></ion-label>
                        <ion-label>LOW: <span>{{item.low | currency: 'BRL': true: '1.2-4'}}</span></ion-label>
                      </section>
                    </div>
                    <section>
                      <ion-label>CLOSE DIFF (%):
                        <span [class]="isPositive[i] ? 'positive': 'negative'">
                          {{differenceOnClose[i] > 0 ? '+'+ differenceOnClose[i] : differenceOnClose[i]}}
                        </span></ion-label>
                    </section>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </section>
    </ion-item>
  </div>
</div>
