.home {
  margin-top: var(--header-area);

  &--title {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &--currency {
    margin-top: 2rem;
  }

  &--action {
    margin-top: 2rem;
  }
}
